header
{
        background: rgba(0, 0, 0, 0.3);
        width: max-content;
        display: block;
        padding: 2rem 9%;
        z-index: 2;
        position: fixed;
        left: 50%;
        top: 2rem;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        border-radius: 2rem;
        backdrop-filter: blur(15px);
}
